<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link lang='sass' rel="stylesheet" href="./static/styles/tabs.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile-container">
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="./static/img/logo.jpg">
            </div>
            <h1>{{ title }}</h1>
        </div>
        <div class="profile-about-me">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
    </div>

    <!-- Tab links -->
    <div class="tab-parent-container">
        <div class="tab-container">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Work')">Work</button>
                <button class="tablinks" onclick="openCity(event, 'Education')">Education</button>
                <button class="tablinks" onclick="openCity(event, 'Hobbies')">Hobbies</button>
            </div>
        
        <!-- Tab content -->
            <div id="Work" class="tabcontent">
                <h3>Software Engineering Intern</h3>
                <h5><i>Company Name</i></h5>
                <ul>
                    <li>This is something I accomplished while working here</li>
                    <li>Here is another thing I accomplished while working at this company</li>
                </ul>
            </div>
            
            <div id="Education" class="tabcontent">
                <h3>School or University</h3>
                <p>B.S. in Computer Science and Mathematics</p>
            </div>
            
            <div id="Hobbies" class="tabcontent">
                <h3>Reading</h3>
                <p>Here is a list of books I've enjoyed!</p>
                <ul>
                    <li>Paper Towns</li>
                    <li>The Invisible Life of Addie LaRue</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;
    
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }
    
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
    
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    </script>
</body>
</html>